.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker
Dockerfile
docker-compose.yml
